#circle {
    width : 100px;
    height : 100px;
    margin : 0;
    border-radius: 50px;
    background-color: pink;
    position : absolute;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: 6;
}

@keyframes move {
    0% {left:0px; top:0px;}
    25% {left:300px; top:0px;}
    50% {left:300px; top:300px;}   
    75% {left:0px; top:300px;}
    100% {left:0px; top:0px;}
}

.circle2 {
    width : 300px;
    height : 300px;
    position: relative;
    border-radius: 150px;
    background-color: red;
    right: 0px;
    bottom: 0px;
    box-shadow: 30px 20px 50px gray;
}

p {
    text-shadow: 10px 10px 5px grey;
}