.relative {
    position: relative;
}

img {
    position: absolute;
    width : 300px;
    height : 200px;
    transform : skew(3deg, 21deg);
    margin-top : 200px;
}

#index1 {
    position: absolute;
    left: 50%;
    z-index : 1;
}

#index2 {
    position: absolute;
    left: 35%;
    z-index : 2;
}

#index3 {
    position: absolute;
    left : 20%;
    z-index : 3;
}

section h1+ul {
    color : red;
}

section h1~ul {
    font-size : 30px;
}